body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  section.cover{
    background: linear-gradient(45deg,#151680 50%,#261681 50%);
    padding: 5px 10%;
      /* border-bottom: 50px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
  }

  section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
  }

section nav ul{
 list-style-type: none;
 font-size: 1.0rem;
 text-align: right;
}

section nav ul li {
 float: left;
 padding: 10px;
 margin-right: 10px;
 text-align: right;
}

nav ul li a {
  color: white;
 }

  .ghost-btn{
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  div.cta-btn{
    margin: 40px 0 20px 0;
  }

  div.cta-btn a{
    padding: 10px 20px;
    background-color: #D20B54;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    text-align: justify;
  }

  section.imgcover .content .heading{
    font-size: 1.5rem;
    font-weight: 500;
  }

  section.imgcover .content{
    color: #fff;
    padding: 20px;
    position: relative;
  }

  section.imgcover .content .highlight{
    font-size: 10px;
  }

  section.imgcover .content .card{
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 140px;
    padding: 20px 40px;
    background-color: #fff;
    color: #888;
    border-radius: 5px;
    transition: 200ms all ease-in-out;
    cursor: pointer;
    text-align: justify;
  }

  section.imgcover .content .card:hover{
    transform: translateY(-5px);
    color: #222;
  }

  .img_lung {
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  .logo {
    margin-right: 130px;
    font-size: 35px;
    font-family: 'Adobe Garamond Pro Semibold', 'Garamond', serif;
  }
  
  section.imgcover{
    background-image: url('Pollution.jpg');
    background-position: 60%;
    padding: 20px;
    /* border-bottom: 10px solid transparent; */
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
  }

  .rectangle{
    width: 580px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: justify;
    padding: 10px 40px;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
  }

  section.mid{
    background: linear-gradient(45deg,#d3d3de 50%,#9d9d9f 50%);
    padding: 5px 10%;
    position: absolute;
  }

#map{
    width: 80vw;
    height: 80vh;
    margin: 10px;
    background: #555;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 84vh;
}